@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-circle{
    filter: blur(250px);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: fixed;
    z-index: -1;
    background-color: rgb(20,184,166);
    opacity: 90%;
    left: -10%;
    top: 30%;
}

.blur-circle:nth-child(2){
    background-color: rgb(43,46,129);
    opacity: 90%;
    left: 80%;
    top: 10%;
}